html {
    scroll-behavior: smooth;
}

.extraPadding {
    padding: 3rem;
}

.nav {
position: fixed;
justify-content: center;
width: 100%;
background-color: #08586ef6;
}

.navLink {
    padding: 1.2rem 1.25rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.navLink:hover, .navLink:focus {
    text-decoration: none;
    color: #021b21;
    transition-duration: 0.15s;
}

.sectionA {
    padding: 2rem 3rem;
    padding-top: 0rem;
    background-color: #68CAE5;
   }

.logo {
    display: block;
    margin: 0 auto;
    max-width: 25rem;
}

.mainTitle {
    font-size: 3rem;
    font-weight: bold;
    max-width: 50rem;
    color: white;
    padding: 3rem 2rem;
    padding-bottom: 1rem;
}

.introText {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;
    max-width: 40rem;
    color: white;
    padding-bottom: 2rem;
}

.sectionB {
    padding: 8rem 3rem;
    padding-right: 18rem;
    background-color: white;
   }

.sectionC {
    padding: 8rem 3rem;
    background-color: whitesmoke;
   }

.subTitle {
    font-size: 3rem;
    font-weight: bold;
    max-width: 50rem;
    color: black;
}