html {
    scroll-behavior: smooth;
}

.extraPadding {
    padding: 3rem;
}

.nav {
position: fixed;
justify-content: center;
width: 100%;
background-color: #08586ef1;
}

.navLink {
    padding: 1.1rem 1.25rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.85rem;
}

.navLink:hover, .navLink:focus {
    text-decoration: none;
    color: #021b21;
    transition-duration: 0.15s;
}

.sectionA {
    padding: 2rem 3rem;
    padding-top: 0rem;
   }

.logo {
    display: block;
    margin: 0 auto;
    max-width: 37rem;
    padding: 4rem;
}

.introText {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 50rem;
    color: black;
    padding: 0 3rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.mainImg {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    opacity: 80%;
    min-height: 50rem;
}

.appImgContainer {
    display: flex;
    justify-content: center;
}

.appImg1 {
    max-width: 17rem;
    padding: 1rem;
    padding-top: 10rem;
    object-fit: contain;
}

.appImg2 {
    max-width: 15rem;
    padding: 1rem;
    padding-top: 10rem;
    object-fit: contain;
}

.sectionB {
    padding: 8rem 3rem;
    padding-right: 18rem;
    background-color: white;
   }

.sectionC {
    padding: 8rem 3rem;
    background-color: whitesmoke;
   }

.subTitle {
    font-size: 3rem;
    font-weight: bold;
    max-width: 50rem;
    color: black;
}