.extraPadding {
    padding: 3rem;
}

.nav {
position: fixed;
right: 0;
padding: 2rem;
background-color: rgba(245, 245, 245, 0.75);
}

.navLink {
    display: block;
    text-align: center;
    padding: 0.4rem 0;
    max-width: 10rem;
    font-weight: bold;
    color: black;
}

.navLink:hover, .navLink:focus {
    text-decoration: none;
    color: #08586E;
    transition-duration: 0.15s;
}

.sectionA {
    padding: 2rem 3rem;
    padding-top: 0rem;
    background-color: #68CAE5;
   }

.logo {
    display: block;
    margin: 0 auto;
    max-width: 25rem;
}

.mainTitle {
    font-size: 3rem;
    font-weight: bold;
    max-width: 50rem;
    color: white;
}

.introText {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 50rem;
    color: white;
}

.sectionB {
    padding: 3rem 3rem;
    background-color: white;
   }

.researchTitle {
    font-size: 3rem;
    font-weight: bold;
    max-width: 50rem;
    color: black;
}